{% extends 'base.html' %}
{% block body %}

   {% load static %}
  

<link rel="stylesheet" type="text/css" href="{% static 'css/menu1.css' %}">

<section class="about-area pt-60">
         <div class="container">
            <div class="row">
               <div class="col-xl-12 mb-60">
                  <div class="section-title text-center">
                     <p>Famous for Good & Healthy Food</p>
                     <h4>our menu</h4>
                     <h3>Main Course</h3>
                  </div>
               </div>
            </div>
            <div class="row menu_style1">
               <div class="col-md-4">
                  <div class="single_menu_list">
                     <img src="../static/img/dal makhni.jpg" alt="">
                     <div class="menu_content">
                        <h4>Dal Makhani  <span>Rs.200</span></h4>
                        <p>A Punjabi Mixed lentil Curry, made with lots of butter and cream.</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="single_menu_list">
                     <img src="../static/img/malai kofta.jpg" alt="">
                     <div class="menu_content">
                        <h4>Malai Kofta  <span>Rs.200</span></h4>
                        <p>Fried dumplings of vegetables coated with cream and cooked with correct mixture of spices.</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="single_menu_list">
                     <img src="../static/img/dal tadka.jpg" alt="">
                     <div class="menu_content">
                        <h4>Yellow Dal Tadka (Desi Ghee)  <span>Rs.200</span></h4>
                        <p>Simple and comforting dal, with a tinge of spices and cooked in desi ghee.</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="single_menu_list">
                     <img src="../static/img/chana masala.jpg" alt="">
                     <div class="menu_content">
                        <h4>Chana Masala  <span>Rs.220</span></h4>
                        <p>Traditional north indian spices and chickpeas tossed in a delicious gravy.</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="single_menu_list">
                     <img src="../static/img/kashmiri dam aloo.jpg" alt="">
                     <div class="menu_content">
                        <h4>Dum Aloo Kashmiri  <span>Rs.200</span></h4>
                        <p>Fried baby potatoes slow cooked in a spicy onion, tomato and curd based gravy in Kashmiri style.</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="single_menu_list">
                     <img src="../static/img/matar paneer.jpg" alt="">
                     <div class="menu_content">
                        <h4>Mattar Paneer  <span>Rs.180</span></h4>
                        <p>Soft paneer cubes simmered in an irresisitibly rich and creamy onion-tomato gravy.</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="single_menu_list">
                     <img src="../static/img/paneer butter masala.jpg" alt="">
                     <div class="menu_content">
                        <h4>Special Paneer Butter Masala  <span>Rs.260</span></h4>
                        <p>Chunks of fresh cottage cheese are cooked in a rich creamy onion tomato masala and a good dose of butter, only to be finished off with another dollop of fresh cream.</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="single_menu_list">
                     <img src="../static/img/kadhai paneer.jpg" alt="">
                     <div class="menu_content">
                        <h4>Kadahi Paneer  <span>Rs.260</span></h4>
                        <p>Paneer cooked in a spicy gravy made of onions, tomatoes, capsicum and traditional Indian spices.</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="single_menu_list">
                     <img src="../static/img/paneer burji.jpg" alt="">
                     <div class="menu_content">
                        <h4>Paneer Bhurji  <span>Rs.260</span></h4>
                        <p>Scrambled Paneer With Onion, Tomatoes And Spices!</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="single_menu_list">
                     <img src="../static/img/malai gravy chaap.jpg" alt="">
                     <div class="menu_content">
                        <h4>Special Malai Gravy Chaap  <span>Rs.250</span></h4>
                        <p>It is cooked with creamy and mildly spicy flavorful gravy which is made with rich malai.</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="single_menu_list">
                     <img src="../static/img/lemon gravy chaap.jpg" alt="">
                     <div class="menu_content">
                        <h4>Special Lemon Gravy Chaap  <span>Rs.250</span></h4>
                        <p>Soya Chaap is marinated in curd added with lemon juice and Indian spices including black pepper, crushed chilli and garlic paste.</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="single_menu_list">
                     <img src="../static/img/mix veg.jpg" alt="">
                     <div class="menu_content">
                        <h4>Mix Veg <span>Rs.150</span></h4>
                        <p>Mixture of vegetables together in a traditional Indian onion-tomato gravy.</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="single_menu_list">
                     <img src="../static/img/boondi raita.jpg" alt="">
                     <div class="menu_content">
                        <h4>Boondi Raita  <span>Rs.80</span></h4>
                        <p>Boondi raita is a North Indian raita variety made with curd (yogurt) and melt-in-the-mouth boondi (fried gram flour balls) together with a few ground spices and herbs.</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="single_menu_list">
                     <img src="../static/img/cream salad.jpg" alt="">
                     <div class="menu_content">
                        <h4>Cream Salad  <span>Rs.100</span></h4>
                        <p>Banana, Whipping cream, Kiwi, Green Apples, Cherries etc</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="single_menu_list">
                     <img src="../static/img/Pineapple Raita.jpg" alt="">
                     <div class="menu_content">
                        <h4>Pineapple Raita  <span>Rs.100</span></h4>
                        <p>Pineapple raita aka ananas raita is a sweet, spicy and tangy raita bursting with juicy pineapples and seasoned with few spices and herbs.</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="single_menu_list">
                     <img src="../static/img/butter naan.jpg" alt="">
                     <div class="menu_content">
                        <h4>Butter Naan  <span>Rs.45</span></h4>
                        <p></p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="single_menu_list">
                     <img src="../static/img/butter tandoori roti.jpg" alt="">
                     <div class="menu_content">
                        <h4>Butter Tandoori Roti  <span>Rs.20</span></h4>
                        <p></p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="single_menu_list">
                     <img src="../static/img/missi roti.jpg" alt="">
                     <div class="menu_content">
                        <h4>Missi Roti  <span>Rs.35</span></h4>
                        <p></p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row pb-60">
               <div class="col-xl-12 text-center">
                  <div class="box_btn">
                     <a href="#">load more</a>
                  </div>
               </div>
            </div>
         </div>
      </section>
{% endblock body %}